.form
  @include center
  align-items: flex-start
  margin-bottom: 1rem

ul
  @include center
  flex-wrap: wrap

  li
    list-style: none
    margin: 0.5rem
    background-color: $primary
    padding: 1rem
    cursor: pointer

    &:hover
      background-color: $bg-primary
    
    a
      color: $white
      text-decoration: none
      



#preview-img
  width: 5rem
  margin: 0 1rem
  border: 1px solid $shadow
  border-radius: 5px