* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
ul li {
  list-style: none;
  margin: 0.5rem;
  background-color: #2c4586;
  padding: 1rem;
  cursor: pointer;
}
ul li:hover {
  background-color: #8b1298;
}
ul li a {
  color: #FFF;
  text-decoration: none;
}

#preview-img {
  width: 5rem;
  margin: 0 1rem;
  border: 1px solid #262626;
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212529;
  text-transform: uppercase;
  height: 100px;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1rem 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1rem;
}

.btn {
  background-color: #8b1298;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 4px #262626;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  box-shadow: none;
  transform: translate(0, 4px);
}

/*# sourceMappingURL=styles.css.map */
