.title  
  @include center
  color: $black
  text-transform: uppercase
  height: 100px

input[type="file"]
  display: none

.custom-file-upload
  border: 1px solid #ccc
  display: inline-block
  padding: 1rem 12px
  cursor: pointer
  border-radius: 5px
  margin-right: 1rem

.btn
  background-color: $bg-primary 
  color: $white
  border: none
  border-radius: 5px
  padding: 1rem
  box-shadow: 0 4px 4px $shadow
  font-size: 1rem
  cursor: pointer
  
  &:hover
    box-shadow: none
    transform: translate(0, 4px)
  